.wpemailcapture-tab {
	display: none;
}

.wpemailcapture-tab.active {
	display: block;
}

.wpemailcapture-tab ul {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 20px;
}

.wpemailcapture-tab button {

	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;

}

.wpemailcapture-tab button:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}