.wp-email-capture {
	border: 1px solid #999;
	background-color: #CCC;
	padding: 10px;
	margin: 0 auto;
}

.wp-email-capture input[type="text"], .wp-email-capture input[type="email"] {
	width: 75%;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wp-email-capture br {
	clear: both;
}

.wp-email-capture label {
	width: 25%;
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.wp-email-capture input.wp-email-capture-submit {
	width: 100%;
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 100%;
}