.wpemailcapture-tab {
	display: none;
}

.wpemailcapture-tab.active {
	display: block;
}

.wpemailcapture-tab ul {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 20px;
}

.wpemailcapture-tab button {

	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;

}

.wpemailcapture-tab button:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.wp_email_capture_admin_discount {
	display: none;
}

.wp_email_capture_admin_discount.wp_email_capture_admin_discount_active {
	display: block;
}

.wp_email_capture_help_box {
    border: 1px solid #e5e5e5;
	background: #fff;
	margin-bottom: 20px;
}

.wp_email_capture_help_box h3.header {
	border-bottom: 1px solid #eee;
	font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.wp_email_capture_help_box ul, .wp_email_capture_help_box ul li {
	list-style-type: disc;
	margin-left: 10px;
}

.wrap.wpec-about-wrap img {
	width: initial;
	max-width: 250px;
}

.wrap.wpec-about-wrap table.extensions td {
	width: 33%;
	vertical-align: top;
}

.wrap.wpec-about-wrap table.extensions td h3 {
	height: 75px;
}

.wrap.wpec-about-wrap table.extensions td p {
	height: 50px;
}